@charset "UTF-8";

.main_container1{
   width: 1920px;
   height: 819px;
}
.main_container{
   float:left;
   background-color:aqua;
   width: 1620px;
   height: 819px; 
   text-align:center;
   overflow: auto;
}
  .main_container::-webkit-scrollbar {
    width: 10px;
  }
  .main_container::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .main_container::-webkit-scrollbar-track {
    background-color:white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
/*
.main_container::-webkit-scrollbar{
	display: none;
}
*/
.plan_menu{
    float: left;
   width: 300px;
    height: 819px;
    background-color: red;
}

.pm0{
    font-size: 40px;
    font-weight: 800;	
}
.pm1{
    font-size: 20px;
    font-weight: 800;
}
.pm2{
    font-size: 20px;
    font-weight: 800;
}
.pm3{
    font-size: 20px;
    font-weight: 800;
}
#bottomcon{
    display: inline-block;
    width: 1100px;
    height: 1100px;
    margin-top: 40px;
    border: 10px solid orange;
    border-radius: 30px;
}
.event_top{
    width: 1000px;
    display: inline-block;
    height: 50px;
    margin: 40px 0 20px 0;
}
.event_title{
	font-size: 30pt;
    font-weight: 800;
    float: left;
}
.incon{
    height: 900px;
    border: 1px solid;
    width: 1000px;
    display: inline-block;
}
.inconcontent{
    height: 390px;
    border: 1px solid;
    width: 95%;
    margin: 20px;
}

.list{
	font-size: 20px;
    border-radius: 10px;
    padding: 10px 30px;
}
.M2 {
	display: none;
}
.idate{
	font-size: 25pt;
    float: right;
}