@charset "UTF-8";


/*공통 레이아웃*/
*{
    padding: 0%;
    margin: 0%;
   /*
    border: 1px solid;
    */
}

/* header 레이아웃 */

header{
    text-align: center;
    
}

.Header{
    width: 100%;
    height: 150px;
/*    border: 1px solid;*/
    overflow: hidden;
}
.Member{
    height: 25px;
    margin-top: 5px;
}
.Member>span{
    float: right;
    margin-right: 20px;
    font-size: 13pt;
}
.Title{
    height: 80px;
    font-size: 40pt;
    text-align: center;
    width: 100%;
}

.Menu>span{
    font-size: 20pt;
    margin: 0 20px 0 20px;
}

.Pic_menu{
    float: left;
    /*width: 320px;*/
    width: 16%;
    height: 100%;
/*    border: 1px solid;*/
    box-sizing: border-box;
    position: fixed;
}

/* 픽 메뉴의 내용*/
/* 회원정보 div */
.menu_div1{
	width: 65%;
	height: 300px;
	float: right;
	background-color: red;
}

.menu_title1{
	width: 100%;
	height: 50px;
	margin-top: 50px;
	text-align: left;
	line-height: 50px;
	background-color: lightyellow;
}

.menu_member{
	width: 100%;
	height: 40px;
	text-align: left;
	line-height: 40px;
	float: left;
	background-color: lightgreen;
}

.menu_div3{
	width: 65%;
	height: 400px;
	float: right;
	background-color: yellow;
}

.menu_title2{
	width: 100%;
	height: 50px;
	text-align: left;
	line-height: 50px;
	background-color: lightyellow;
}

.menu_Travel{
	width: 100%;
	height: 40px;
	text-align: left;
	line-height: 40px;
	float: left;
	background-color: lightgreen;
}