@charset "UTF-8";


/* 공통 레이아웃 영역 */
*{
    padding: 0%;
    margin: 0%;
    	text-decoration-line:none;
   /*
    border: 1px solid;
    */
}
body{
    background: url("/image/제주제주.png");
}


/* header 레이아웃 */
/*
header{
    text-align: center;
    
}

.Header{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.Member{
    height: 25px;
    margin-top: 5px;
}
.Member>span{
    float: right;
    margin-right: 20px;
    font-size: 13pt;
}
.Title{
    height: 80px;
    font-size: 40pt;
    text-align: center;
    width: 100%;
}
.Menu>span{
    font-size: 20pt;
    margin: 0 20px 0 20px;
}
*/

/* section 레이아웃 */

.section {
	width: 1920px;
	height: 783px;
	box-sizing: border-box;
	text-align: center;
}


.Pic_menu {
    float: left;
    width: 150px;
    height: 819px;
}

/* 픽 메뉴의 내용*/
/* 회원정보 div */
.menu_div1{
    width: 150px;
    height: 150px;
}
.menu_title1{
	margin-top: 50px;
	
}
.menu_title1, .menu_title2{
	width: 130px;
	padding-left:20px;
	height: 50px;
	text-align: left;
	line-height: 50px;
	background-color: orange;
	color: white;
	font-size: 18pt;
	font-weight: 800;
}

.menu_member, .menu_Travel{
	width: 130px;
	padding-left:20px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	float: left;
	background-color: orange;
}
.menu_member>a, .menu_Travel>a{
	width: 130px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	float: left;
	background-color: orange;
	color: white;
	text-decoration-line:none;
	font-size: 12pt;
	font-weight: 800;
}

.menu_div3{
	width: 150px;
    height: 400px;
}


/*마이페이지 시작*/

.mypage {
    width: 1480px;
    display: inline-block;
    margin-top: 25px;
}
.mypageDiv {
    width: 1280px;
    height: 783px;
    box-sizing: border-box;
    border: 10px solid orange;
    border-radius: 30px;
    background-color: floralwhite;
    opacity: 0.8;
    float: left;
}


.mypage1 {
	width: 1280px;
	height: 763px;  
	margin-top: 20px;
	/*
	border: 1px solid black;
	box-sizing: border-box;
	*/
}

.my_profile {
	width: 1280px;
	height: 200.5px;
/*	border: 1px solid blue;
	box-sizing: border-box;
*/
}

.my_img {
	width: 170px;
	height: 170px;
	float: left;
/*	border: 1px solid red;
	box-sizing: border-box;
*/
	margin: 14.5px 0 0 50px;
}

.my_ptext {
	width: 800px;
	height: 200.5px;
	float: left;
	margin: 0 0 0 70px;
/*	border: 1px solid green;
	box-sizing: border-box;
	*/
}

.my_ptext1 {
	width: 800px;
	height: 40.1px;
/*	border: 1px solid black;	
	box-sizing: border-box;
	*/
}

/*수정버튼*/
.my_pbtn {
	width: 125px;
	height: 40.1px;
	float: left;
	text-align: center;
	line-height: 50px;
	margin-left: 60px;
	/*
	border: 1px solid purple;
	box-sizing: border-box;
	*/
}

/*탈퇴버튼*/
.my_pbtn1 {
	width: 125px;
	height: 40.1px;
	float: left;
	text-align: center;
	line-height: 50px;
	margin-left: 80px;
	/*
	border: 1px solid purple;
	box-sizing: border-box;
	*/
}

/* text = id 생년월일 휴대폰 번호 이메일 란 */
.my_ptext2 {
	width: 150px;
	height: 40.1px;
	float: left;
	text-align: center;
	line-height: 50px;
	/*
	border: 1px solid red;
	box-sizing: border-box;
	*/
}

/*:*/
.my_ptext3 {
	width: 30px;
	height: 40.1px;
	float: left;
	text-align: center;
	line-height: 50px;
	/*
	border: 1px solid green;
	box-sizing: border-box;
	*/
}

/* id 생년월일 휴대폰번호 이메일 에 해당하는 값 출력 란*/
.my_ptext4 {
	width: 618px;
	height: 40.1px;
	float: left;
	text-align: center;
	line-height: 50px;
	/*
	border: 1px solid blue;
	box-sizing: border-box;
	*/
}


/*최근거래내역 및 지난여행 리스트 뽑아오기 Div*/
.my_info {  
	width: 1280px;
	height: 562.5px;
	/*
	border: 1px solid purple;
	box-sizing: border-box;
	*/	
}

.my_history {
	width: 1240px;
	height: 547.5px;
	margin: 0 auto;
}

.my_history1 {
	width: 1240px;
	height: 273.75px;
}

.my_thistory {
	width: 1210px;
	height: 260.75px;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
}

.my_t_title1 {
	width: 1210px;
	height: 40px;
	box-sizing: border-box;
}

.t_text1 {
	line-height: 40px;
	float: left;
}

.t_text2 {
	line-height: 40px;
	float: right;
}

.my_h_list {
	height: 220.75px;
	background-color: white;
	box-sizing: border-box;
	display: inline-block;
}

table {
	width: 1190px;  /*1190*/
	height: 220.75px;
	border-collapse: collapse;
	box-sizing: border-box; 
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
	box-sizing: border-box;
	
}

.my_history2 {
	width: 1240px;
	height: 273.75px;
	box-sizing: border-box;
}

.my_last_trip {
	width: 1210px;
	height: 260.75px;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
}

.my_last_t1 {
	width: 1210px;
	height: 40px;
	box-sizing: border-box;
}

.l_text1 {
	line-height: 40px;
	float: left;
}

.l_text2 {
	line-height: 40px;
	float: right;
}

.my_l_list {
	/*
	width: 1210px;
	height: 220.75px;
	background-color: white;
	display: inline-block;	
*/
	width: 1210px;
	height: 220.75px;
	background-color: white;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 auto;
}

.my_l_table{
	margin: 0 auto;
	text-align: center;
}

ul,li {
	list-style:none;
}



/*지난 여행 리스트*/

.my_tl1, .my_tl2{
	width: 190px;
	height: 220.75px;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.my_tl1{
	margin-left: 14px;
	
}


li{
	float: left;
}

.my_tl1_img {
	width: 190px;
	height: 160px;
/*	float: left;*/
}

.my_tl1_text1 {
	width: 190px;
	height: 30.375px;
/*	float: left;*/
}

.my_tl1_text2 {
	width: 190px;
	height: 30.375px;
/*	float: left;*/
}


