<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href='css/jejucss.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/jquery.serializeObject.js"></script>
<title>관리자페이지</title>
<style>
  .member_listtable {
    border-collapse: collapse;
  }
  .member_listtable>thead tr {
    background-color: #1e96ff;
    color: #ffffff;
  }
  .member_listtable>tbody tr:nth-child(2n) {
    background-color: #bbdefb;
  }
  .member_listtable>tbody tr:nth-child(2n+1) {
    background-color: #e3f2fd;
  }
</style>
</head>
<body>
<header>   
   <div th:replace="fragment/Header :: Admin_Header"></div>
</header>

<section>
   <div th:replace="fragment/Menubar :: Admin_Menubar"></div>
   <div class="contents_holder">   
      <div class="member_searchbar">
         <div class="member_title"><h3>행사 검색</h3></div>
         <form th:action="@{Admin_Event_List}" method="get">
         <div class="member_searchtag">
            <div class="searchMark">
               <input type="image" src="image/mark2.png" alt="제출버튼" style="width: 35px; height: 35px;">
            </div>
            <div class="searchbar_Einputbox">
               <div class="searchbar_Eselect">
                  <span>행사제목 : </span>
               </div>
               <span class="searchbar_Einput">
                  <input type="text" name="keyword">
                  <span style="font-size: 1.1em;">등록일 : </span>
                  <input class="ageinput" type="date" name="sage"> -
                  <input class="ageinput" type="date" name="eage">
               <span class="searchbar_Etags2">
                  <span class="cssnot">진행상태 : </span>
                  <span><input type="checkbox" name="e_on" value="진행중">진행중</span>
                  <span><input type="checkbox" name="e_off" value="종료">종료</span>
               </span>
               </span>
            </div>
         </div>
         </form>
      </div>
      <div class="member_listbar">
         <div>
         </div>
         <div>
            <table class="member_listtable">
               <thead>   
                  <tr>
                     <td style="width: 10%">진행상황</td>
                     <td style="width: 30%">제목</td>
                     <td style="width: 20%">진행기간</td>
                     <td style="width: 15%">등록날짜</td>
                     <td style="width: 10%">관리</td>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="event : ${eList}">
                     <td th:text="${event.e_eventing}"></td>
                     <td th:text="${event.e_title}"></td>
                     <td th:text="${event.e_eday}"></td>
                     <td th:text="${event.e_date}"></td>
                     <td><input type="button" class="adminBtn" th:songjan="${event.e_pk_enum}" th:onclick="popupOpen(this.getAttribute('songjan'))" value="관리"/></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="paging" th:utext="${paging}"></div>
      <button type="button" th:onclick='insertpopup()' style="margin-top: 40px;" class="button-65">글쓰기</button>
      
   </div>
   
   
<div id ="popup_mask" ></div> <!-- 팝업 배경 DIV -->

<div id="EventPopupDiv"> <!-- 팝업창 -->
   <div>
      <img src="image/closebtn.gif" class="popup_closebtn" th:onclick='popupClose()'>
      <h1 class="popuptitle">축제정보 관리</h1>
   </div>
   <div id="Admin_event_info" style="overflow: auto;">
         <div>
            <table>
               <tbody>
                  <tr>
                     <td style="width: 100px;">제목 : </td>
                     <td colspan="3" id="e_titleFrm" style="width: 900px;"></td>
                  </tr>
                  <tr>
                     <td>주소 : </td>
                     <td id="e_addrFrm" style="width: 300px;"></td>
                     <td>등록날짜 : </td>
                     <td id="e_dateFrm"></td>
                  </tr>
                  <tr>
                     <td>진행상황 : </td>
                     <td id="e_eventingFrm"></td>
                     <td>행사종료일 : </td>
                     <td id="e_edayFrm"></td>
                  </tr>
                  <tr>
                     <td colspan="4">
                        <div class="img_event_title_box">
                            <h4 style="margin-top: 20px;">행사 사진</h4>
                            <div style="width: 890px; margin-top: 20px;">   
                               <img id="preview-image1">
                            </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td style="padding: 5px;">글내용</td>
                  </tr>
                  <tr>
                     <td colspan="4"><div id="e_infoFrm" style="min-height: 200px; border: 1px solid black; box-sizing: border-box; border-radius: 4px; padding: 5px; background-color: white;"></div></td>
                  </tr>
               </tbody>
            </table>
         </div>         
         <div style="padding-top: 40px;">
            <button th:onclick="Updatepopup()" class="button-65">축제정보 수정</button>
            <button type="button" th:onclick="popupClose()" class="button-65">닫기</button>
         </div>   
   </div>
   
   <div id="Admin_event_updateFrm" style="overflow: auto;">
         <div>
            <form class="Admin_Event_Update_Frm" method="post">
            <input id="e_pk_enum" type="hidden" name="e_pk_enum">
            <table>
               <tbody>
                  <tr>
                     <td style="width: 80px;">제목 : </td>
                     <td colspan="3" style="width: 800px;"><input type="text" id="e_title" name="e_title" style="width: 400px;" required></td>
                  </tr>
                  <tr>
                     <td>주소 : </td>
                     <td style="width: 300px;"><input type="text" id="e_addr" name="e_addr" style="width: 400px;" required></td>
                     <td style="width: 70px; padding-left: 10px;">등록날짜 : </td>
                     <td id="e_date"></td>
                  </tr>
                  <tr>
                     <td>행사종료일 : </td>
                     <td><input type="text" id="e_eday" name="e_eday" style="width: 400px;" required></td>
                     <td style="padding-left: 10px;">진행상황 : </td>
                     <td>
                        <select id="e_eventing" name="e_eventing">
                            <option value="1">진행중</option>
                            <option value="0">종료</option>
                           </select>
                     </td>
                  </tr>
                  
               </tbody>
            </table>
            </form>
            <form action="/Admin_Event_file_Update" id="Admin_Event_file_Update_Frm" enctype="multipart/form-data" method="post">   
               <div class="img_event_title_box">
                  <input type="hidden" name="e_pk_enum" id="e_pk_enum1">
                  <input type="hidden" name="e_img" id="e_imghid">
                   <h4 style="margin-top: 20px;">행사 사진</h4>
                   <div style="width: 890px; margin-top: 20px;">   
                      <img id="preview-imageFrm">
                   </div>
                   <button type="button" onclick="AdminEventFileUpdate()" style="display: inline;">변경</button>
                   <input style="display: inline;" type="file" id="input-image" name="titlefile">
               </div>
            </form>      
            <form class="Admin_Event_Update_Frm" method="post">
            <table>
               </tbody>
                  <tr>
                     <td style="padding: 5px;">글내용</td>
                  </tr>
                  <tr>
                     <td colspan="4"><div><textarea id="e_info" name="e_info" style="resize: none; width: 890px; height: 400px; padding: 5px;" required></textarea></div></td>
                  </tr>
               </tbody>
            </table>
            </form>
         </div>         
         <div style="padding-top: 40px;">
            <button th:onclick="AdminEventUpdate()" class="button-65">축제정보 수정</button>
            <button type="button" th:onclick="AdminEventDelete()" class="button-65">축제정보 삭제</button>
            <button type="button" th:onclick="newpopupClose()" class="button-65">이전</button>
         </div>   
   </div>
   
   <div id="Admin_event_insertFrm" style="overflow: auto;">
         <div>
            <form id="Admin_Event_Insert_Frm" method="post">
            <table>
               <tbody>
                  <tr>
                     <td style="width: 100px;">제목 : </td>
                     <td style="width: 800px;"><input type="text" id="e_title1" name="e_title" style="width: 400px;" required></td>
                  </tr>
                  <tr>
                     <td>주소 : </td>
                     <td><input type="text" id="e_addr1" name="e_addr" style="width: 400px;" required></td>
                  </tr>
                  <tr>
                     <td>행사종료일 : </td>
                     <td ><input type="text" id="e_eday1" name="e_eday" style="width: 400px;" required></td>
                  </tr>
                  
               </tbody>
            </table>
            <div class="img_event_title_box">
               <h4 style="margin-top: 20px;">행사 사진</h4>
               <div style="width: 890px; margin-top: 20px;">
                   <img id="preview-imageinsertFrm">
                </div>
                <input style="display: inline;" type="file" id="input-imageinsert" name="titlefile">
                <input type="hidden" id="filecheck" name="FileCheck" value="0">
            </div>
            <table>
               </tbody>
                  <tr>
                     <td style="padding: 5px;">글내용</td>
                  </tr>
                  <tr>
                     <td colspan="4"><div><textarea id="e_info1" name="e_info" style="resize: none; width: 890px; height: 400px;" required></textarea></div></td>
                  </tr>
               </tbody>
            </table>
            </form>
         </div>         
         <div>
            <button th:onclick="AdminEventInsert()" class="button-65">축제정보 작성</button>
            <button type="button" th:onclick="insertpopupClose()" class="button-65">닫기</button>
         </div>   
   </div>
</div>

</section>
</body>
<script th:inline="javascript">
$(function(){
   var msg = [[${msg}]];
   
   if(msg != null){
      alert(msg);
   }
});
/* history.replaceState({}, null, location.pathname); */

function readImage(input) {
    // 인풋 태그에 파일이 있는 경우
    if(input.files && input.files[0]) {
        // 이미지 파일인지 검사 (생략)
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
            const previewImage = document.getElementById("preview-imageFrm")
            previewImage.src = e.target.result
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
    }
}
// input file에 change 이벤트 부여
const inputImage = document.getElementById("input-image")
inputImage.addEventListener("change", e => {
    readImage(e.target)
})

function readImageinsert(input) {
    // 인풋 태그에 파일이 있는 경우
    if(input.files && input.files[0]) {
        // 이미지 파일인지 검사 (생략)
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
            const previewImageinsert = document.getElementById("preview-imageinsertFrm")
            previewImageinsert.src = e.target.result
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
    }
}
// input file에 change 이벤트 부여
const inputImageinsert = document.getElementById("input-imageinsert")
inputImageinsert.addEventListener("change", e => {
   var files = $("#input-imageinsert").val();
   
   if(files != ""){
      $("#filecheck").val("1");
   } else if (files == "") {
      $("#filecheck").val("0");
   }
   readImageinsert(e.target)
})


var e_number;

function popupOpen(num){
   e_number = num;
   
   console.log(num);
   $("#EventPopupDiv").css({
        "top": (($(window).height()-$("#EventPopupDiv").outerHeight())/2+$(window).scrollTop())+"px",
        "left": (($(window).width()-$("#EventPopupDiv").outerWidth())/2+$(window).scrollLeft())+"px"
   });   
        //팝업창을 가운데로 띄우기 위해 현재 화면의 가운데 값과 스크롤 값을 계산하여 팝업창 CSS 설정
    $("#popup_mask").css("display","block"); //팝업 뒷배경 display block
    $("#EventPopupDiv").css("display","block"); //팝업창 display block
    $("#Admin_event_info").css("display","block"); //팝업창 display block
        
    $("body").css("overflow","hidden");//body 스크롤바 없애기 
    
    var e_num = {"e_num" : e_number};
    $.ajax({
      url: "EventEnumSelect",
      type: "post", //json 객체는 post 사용!
      data: e_num,
      dataType: "json",
      success: function(result){
         var event = result.event;
         
         console.log(event);
         
         $("#e_titleFrm").html(event.e_title); // index가 끝날때까지 
         $("#e_addrFrm").html(event.e_addr);
         $("#e_dateFrm").html(event.e_date);
         $("#e_eventingFrm").html(event.e_eventing);
         $("#e_edayFrm").html(event.e_eday);
         $("#e_infoFrm").html(event.e_info);
         
         console.log(event.e_img);
         
         if(event.e_img != null){
            document.getElementById("preview-image1").src="./upload/" + event.e_img;
         } else if(event.e_img == null) {
            document.getElementById("preview-image1").src="./upload/사진설정.png"
         }
         
      
      },
      error: function(error){
         alert("전송실패");
         console.log(error);
      }
   });
      
}

function Updatepopup(){
    $("#Admin_event_info").css("display","none"); //팝업창 display block
    $("#Admin_event_updateFrm").css("display","block"); //팝업창 display block
    
    var e_num = {"e_num" : e_number};
    $.ajax({
      url: "EventEnumSelect",
      type: "post", //json 객체는 post 사용!
      data: e_num,
      dataType: "json",
      success: function(result){
         var event = result.event;
         
         console.log(event);
         
         $("#e_pk_enum").val(event.e_pk_enum)
         $("#e_title").val(event.e_title); // index가 끝날때까지 
         $("#e_addr").val(event.e_addr);
         $("#e_date").html(event.e_date);
         if(event.e_eventing == "진행중"){
            $("#e_eventing").val("1").prop("seleced",true);
         } else {
            $("#e_eventing").val("0").prop("seleced",true);
         }
         $("#e_eday").val(event.e_eday);
         $("#e_info").val(event.e_info);
         $("#e_pk_enum1").val(event.e_pk_enum);
         $("#e_imghid").val(event.e_img);
         if(event.e_img != null){
            document.getElementById("preview-imageFrm").src="./upload/" + event.e_img;
         } else if(event.e_img == null) {
            document.getElementById("preview-imageFrm").src="./upload/사진설정.png"
         }
      },
      error: function(error){
         alert("전송실패");
         console.log(error);
      }
   });
      
}

function AdminEventUpdate(){
    
   if(document.getElementById("e_title").value==''){
      alert("제목을 입력해주십시오.");
      document.getElementById("e_title").focus();
      return false;
   } else if(document.getElementById("e_addr").value==''){
      alert("주소를 입력해주십시오.");
      document.getElementById("e_addr").focus();
      return false;
   } else if(document.getElementById("e_eday").value==''){
      alert("행사종료일을 입력해주십시오.");
      document.getElementById("e_eday").focus();
      return false;
   } else if(document.getElementById("e_info").value==''){
      alert("행사종료일을 입력해주십시오.");
      document.getElementById("e_info").focus();
      return false;
   }
   
   var eDto = $(".Admin_Event_Update_Frm").serializeObject();
     console.log(eDto);
    $.ajax({
      url: "Admin_Event_Update",
      type: "post", //json 객체는 post 사용!
      data: eDto,
      dataType: "json",
      success: function(result){
         
         console.log(result.res);
         
         if(result.res == "ok"){
            alert("수정성공");
         } else {
            alert("수정실패");
         }
         
         location.href = "/Admin_Event_List";
         
      },
      error: function(error){
         alert("전송실패");
         console.log(error);
      }
   });
    
}

function AdminEventFileUpdate(){
    
   var data = new FormData($('#Admin_Event_file_Update_Frm')[0]);
   
     console.log(data);
    $.ajax({
       type: "POST",
        enctype: 'multipart/form-data',
        url: "Admin_Event_file_Update",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        success: function (result) { 
            var event = result.event;
            $("#e_imghid").val(event.e_img);
         
         document.getElementById("preview-imageFrm").src="./upload/" + event.e_img;
         document.getElementById("preview-image1").src="./upload/" + event.e_img;
         
         alert("성공");
         document.getElementById("input-image").value = "";
        },
        error: function (e) {
            console.log("ERROR : ", e);
            alert("fail");
         }
   });
    
}

function AdminEventInsert(){
    
   if(document.getElementById("e_title1").value==''){
      alert("제목을 입력해주십시오.");
      document.getElementById("e_title1").focus();
      return false;
   } else if(document.getElementById("e_addr1").value==''){
      alert("주소를 입력해주십시오.");
      document.getElementById("e_addr1").focus();
      return false;
   } else if(document.getElementById("e_eday1").value==''){
      alert("행사종료일을 입력해주십시오.");
      document.getElementById("e_eday1").focus();
      return false;
   } else if(document.getElementById("filecheck").value=='0'){
	      alert("사진을 선택해주십시오.");
	      document.getElementById("e_info1").focus();
	      return false;
   } else if(document.getElementById("e_info1").value==''){
      alert("내용을 입력해주십시오.");
      document.getElementById("e_info1").focus();
      return false;
   }
   
   var data = new FormData($('#Admin_Event_Insert_Frm')[0]);
   
     console.log(data);
    $.ajax({
       type: "POST",
        enctype: 'multipart/form-data',
        url: "Admin_Event_Insert",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        success: function (result) { 
            
         console.log(result.res);
         
         if(result.res == "ok"){
            alert("작성 성공.");
         } else {
            alert("작성 실패");
         }
      
      location.href = "/Admin_Event_List";
        },
        error: function (e) {
            console.log("ERROR : ", e);
            alert("fail");
         }
   });
    
}

function AdminEventDelete(){
   if (confirm("게시글을 삭제하시겠습니까???")) {
   
   var e_num = {"e_num" : e_number};
    $.ajax({
      url: "Admin_Event_Delete",
      type: "post", //json 객체는 post 사용!
      data: e_num,
      dataType: "json",
      success: function(result){
         
         console.log(result.res);
         
             if(result.res == "ok"){
                alert("삭제 되었습니다.");
             } else {
                alert("삭제 실패");
             }
         
         location.href = "/Admin_Event_List";
      },
      error: function(error){
         alert("전송실패");
         console.log(error);
      }
   });
   } else {
      
   }   
    
}


function popupClose() {
    $("#popup_mask").css("display","none"); //팝업창 뒷배경 display none
    $("#EventPopupDiv").css("display","none"); //팝업창 display none
    $("#Admin_event_info").css("display","none"); //팝업창 display block
    $("#Admin_event_updateFrm").css("display","none"); //팝업창 display block
    $("body").css("overflow","auto");//body 스크롤바 생성
    $("#Admin_event_insertFrm").css("display","none"); //팝업창 display block
    document.getElementById("input-image").value = "";
}

function newpopupClose() {
    $("#Admin_event_info").css("display","block"); //팝업창 display block
    $("#Admin_event_updateFrm").css("display","none"); //팝업창 display block
    document.getElementById("input-image").value = "";
}

function insertpopupClose() {
   $("#popup_mask").css("display","none"); //팝업창 뒷배경 display none
    $("#EventPopupDiv").css("display","none");
    $("#Admin_event_insertFrm").css("display","none"); //팝업창 display block
}

function insertpopup() {
   $("#EventPopupDiv").css({
      "top": (($(window).height()-$("#EventPopupDiv").outerHeight())/2+$(window).scrollTop())+"px",
        "left": (($(window).width()-$("#EventPopupDiv").outerWidth())/2+$(window).scrollLeft())+"px"
   });   
        //팝업창을 가운데로 띄우기 위해 현재 화면의 가운데 값과 스크롤 값을 계산하여 팝업창 CSS 설정
    $("#popup_mask").css("display","block"); //팝업 뒷배경 display block
    $("#EventPopupDiv").css("display","block"); //팝업창 display block
    $("#Admin_event_insertFrm").css("display","block"); //팝업창 display block
        
    $("body").css("overflow","hidden");//body 스크롤바 없애기 
    
}

</script>
</html>