<!DOCTYPE html>
<html lang="ko" xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>제주 관광지 리스트</title>
<link th:href="@{/css/jejutourList.css}" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/header2.css">
<script src="https://kit.fontawesome.com/2cc77ea41b.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <style type="text/css">
 .viewimg {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
</style>
<body>
<header>
   <div th:include="fragment/header::header"></div>
 </header>
   <div class="main_container1">
      <div class="main_container">
          <div class="plan_menu">
            <div class="pm0" ><a class="rara">나의여행</a></div>
                <div class="pm1"><a class="rara">후기게시판</a></div>
              <div class="pm2" onclick="location.href='JejuEvent_List'"><a class="rara">제주행사</a></div>
              <div class="pm3" onclick="location.href='jejutourList'"><a class="rara">제주관광지</a></div>
             </div>
             
      <div class="container">
        
          <div class="planboard">
        <div class="pboard">제주관광지</div>
            <select class="plantcw">
            <option value="s_tittle">제목</option>
            <option value="s_addr">위치</option>
        </select>
       <input type="text" id="keyword" class="plansearch">
    <div>
        <button  id="search" class="fa-solid fa-magnifying-glass"style="margin-top: 60px;margin-right: 110px;
        width: 40px;height: 30px;"></button>
    </div>
        </div>
        <div style='background:rgba(0,0,0,0.8); height:3px;
            margin-left:17.5%; margin-right: 3%;'></div>

     <div class="con">
       <th:block th:if="${spList != null}">
         <ul id="listimg">
         </ul>
        </th:block>
     
</div>
</div>
</div>
</div>

  <div class="planlastnumber"th:utext="${paging}" >
  </div>
  </body>
  <script th:inline="javascript">
  
  
  $(function () {
      
      var msg = [[${msg}]];
      
      if(msg != null){
         alert(msg);
      }
      
      $(".M4"). hide();
         
      mdto = [[${session.user}]];
      
      if(mdto != null){
         $("#inLogin").show();
         $("#outLogin").hide();
         $(".M1").css("display","none");
      }else{
         $("#inLogin").hide();
         $("#outLogin").show();
         
      }
      
      
      
      if(mdto.m_category == "사업자"){
         $(".M4"). show();
      }
         
   });
  
  
  
   var spList = [[${spList}]];
      console.log(spList);
      
      
      var listtag = "";
      for(var i = 0; i<spList.length; i++){
         listtag+=
            "<li class='planimg'><a href='jejutour?jnum="+spList[i].s_pk_num+"'> <img src='/upload/"+spList[i].s_img +"' class='viewimg' style=overflow:auto; weigth:100%;height:100%;></li>"
            +"<li class='blogtittle'>"+ "명칭 :" + spList[i].s_tittle+"<br> 주소 :" +spList[i].s_addr+ "</li>"
         if(i == 4){
            listtag += "<br>";
            }
         }
      $("#listimg").html(listtag);
   
      
      //검색 기능 수행 코드
      $("#search").click(function() {
         var keyword = $("#keyword").val();
         if(keyword == ""){
            alert("검색어를 입력하세요.");
            return;
         }
         
         var select = $(".plantcw").val();
         console.log(select, keyword);
         location.href="/jejutourList?colname=" + select
               + "&keyword=" + keyword
               + "&pageNum=1";
         //검색하자마자 첫페이지가 나와야 하기 때문에 &pageNum= 에 1을 넣어줘야한다!(정해져있기때문)
      });
</script>
</html>