<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mypage_dealList</title>
<link rel="stylesheet" href="css/Mypage_DealList.css">
<link rel="stylesheet" type="text/css" href="css/header2.css">
<script src="js/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
$(function(){
	var msg = [[${msg}]];
	
	if(msg != null){
		alert(msg);
	}
	
	//session에 'id'가 없으면 첫 페이지로 강제 이동
	var logid = [[${session.user}]];   
	if(logid == null){
		location.href = "./login";
	}
	else{
		$(".M3").css('display','block');
		$(".M1").css('display','none');
	}
	
});


$(function(){
	$('.logout').click(function(){
		session.invalidate();
		console.log([[${session.id}]]);
	//	location.href = "/login";
	});

});

</script>
</head>
<body>
<!-- header 영역 -->
<header>
        <div th:include="fragment/header :: header"></div>
</header>
 
<div class="mypage_dealList">
	<div class="mypage_dl_div">
    <div class="Pic_menu">
    	<div class="menu_div1">
    		<div class="menu_title1">회원</div>
    		<div class="menu_member"><a th:href = @{mypage}>내정보</a></div>	
    		<div class="menu_member"><a th:href = @{Mypage_DealList}>거래내역</a></div>	
    	</div>
    	<div class="menu_div2"></div>
    	<div class="menu_div3">
    		<div class="menu_title2">여행</div>
    		<div class="menu_Travel"><a th:href = @{Mypage_NowTrip}>진행중인 여행</a></div>
    		<div class="menu_Travel"><a th:href = @{Mypage_PastTrip}>지난여행</a></div>
    		<div class="menu_Travel"><a th:href = @{Favorites_Lodgment}>즐겨찾기</a></div>
    		<div class="menu_Travel"><a th:href = @{Mypage_Plan}>게시글</a></div>
    		<div class="menu_Travel"><a th:href = @{Review_Lodgment}>리뷰관리</a></div>
    	</div>
    </div>
		<div class="dl_div1">
			<div class="dl_div2">
				<div class="dl_list_frm">
					<!-- <div class="dl_title_frm">  -->
						<div class="dl_title"><h4>-거래내역-</h4></div>
						<div class="dl_search">
							<div class="dl_s0">
								<div class="dl_s1"></div>
								<div class="dl_search_frm">
									<div class="s_frm">
										<div class="s_btn_div1">
											<div class="s_btn1">
									             <button id="backbtn" >전체 보기</button>
											</div>
										</div>
										<div class="s_btn_div2">
											<div class="s_btn2">
											
											<select id="c_category">
									               <option>업체종류</option>
									               <option value="c_all">전체</option>
									               <option value="숙박">숙박</option>
									               <option value="레저">레저</option>
								                </select>
								            
											</div>
										</div>
										<div class="search_div">
											<input class="search_text" placeholder="검색구역" id="keyword"></input>
											<div class="search_img">
												<img src="image/돋보기.png.png" style="width: 100%; height: 100%;" id="search">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
			 		<!-- </div>  -->
					</div>
				<div class="my_list_div">
					<div class="list_frm">
						<div class="table_div">
							<table>
								<thead>
									<tr>
										<th>거래 시간</th><th>업체명</th><th>종류</th><th>금액</th><th>내용</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each = "bList : ${bList}">
										<td th:text="${bList.bk_paytime}"></td>
										<td th:text="${bList.c_name}"></td>
										<td th:text="${bList.c_category}"></td>
										<td th:text="${bList.bk_price}"></td>
										<td th:text="${bList.bk_goods}"></td>
									</tr>		
								</tbody>
							</table>
						</div>
					</div>
					<div class="list_next"  th:utext="${paging}"><!-- 여기에 리스트 정보  다음버튼 들어가기 --></div>
				</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
 
<script th:inline="javascript">
$(function () {
	
	var msg = [[${msg}]];
	
	if(msg != null){
		alert(msg);
	}
	
	$(".M4"). hide();
		
	mdto = [[${session.user}]];
	
	if(mdto != null){
		$("#inLogin").show();
		$("#outLogin").hide();
		$(".M1").css("display","none");
	}else{
		$("#inLogin").hide();
		$("#outLogin").show();
		
	}
	
	
	
	if(mdto.m_category == "사업자"){
		$(".M4"). show();
	}
		
});



$("#backbtn").click(function(){
	
	location.href="./Mypage_DealList"
});


$("#c_category").change(function(){
	var c_category = $(this).val();
	
	location.href="./Mypage_DealList?c_category=" + c_category;
	
});

$("#search").click(function(){
	var keyword = $("#keyword").val();
	if(keyword == ""){
		alert("검색어를 입력하세요.");
		return;
	}
	
	location.href="./Mypage_DealList?c_name="+ keyword;
});



</script>

</html>