<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/header2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/qano.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<title>page - 고객센터</title>
<script th:inline="javascript">
var mdto;
$(function () {
   
   var msg = [[${msg}]];
   
   if(msg != null){
      alert(msg);
   }
   
   $(".M4"). hide();
      
   mdto = [[${session.user}]];
   
   if(mdto != null){
      $("#inLogin").show();
      $("#outLogin").hide();
      $(".M1").css("display","none");
   }else{
      $("#inLogin").hide();
      $("#outLogin").show();
      $(".m6").hide();
      
   }
   
   
   
   if(mdto.m_category == "사업자"){
      $(".M4"). show();
   }
      
});


</script>
</head>
<body>
   <header>
      <div th:include="fragment/header::header"></div>
    </header>


          <div class="main_container1">
         <div class="main_container">
            <div class="Pic_menu">
               <!--     
                <div   class="center"><a th:href="@{Question_List}" class="rara" style="text-decoration: none; color: black;">고객센터</a></div>
   -->
                <div  class="m2"><a  th:href="@{Question_List}"  class="rara" style="text-decoration: none;">자주하는 질문</a></div>
                <div  class="m3"><a  href="/Notice_List"  class="rara" style="text-decoration: none;">공지사항</a></div>
                <div class="m4"><a  th:href="@{QA_List}"  class="rara" style="text-decoration: none;">Q & A</a></div>
                <div  class="m5"><a th:href="@{Myqa_List}"  class="rara"  style="text-decoration: none;">내가 한 질문 답변</a></div>
             </div>
         <div class= "container">   
             <div class="noticelist">공지사항</div>
            <table>
             <thead>
               <tr>
                 <th>글번호</th><th>제목</th><th>작성일</th><th>조회수</th>
               </tr>
             </thead>
             <tbody>
               <tr th:each="notice : ${nList}">
                 <td th:text="${notice.n_pk_num}"></td>
                 <td> <a th:href="@{/Notice/(n_pk_num=${notice.n_pk_num})}">
                 <span th:text="${notice.n_title}"></span></a>
                 </td>
                 <td th:text="${#dates.format(notice.n_date, 'yyyy-MM-dd')}"></td>
                 <td th:text="${notice.n_views}"></td>
               </tr>
             </tbody>
           </table>
           <div class="lastnumber">
              <div th:utext="${paging}"></div>  
             </div>
           </div>
      </div>
   </div>
</body>   
<script th:inline="javascript">

$(document).on("click","button",function(){
   var ps = $("button").next();
   var curdis = $(this).next().css("display");
   //console.log(ps);
   for(var i = 0; i < ps.length; i++){
      $(ps[i]).css("display","none");
   }
   if(curdis == "none"){
      $(this).next().css("display","block");
   }
});
</script>

</html>